<!DOCTYPE html>
<html ng-app="MyApp" lang="ja">
<head>
  <meta charset="UTF-8">
  <title ng-bind="appName">ʕ◔ϖ◔ʔ</title>

  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <meta name="robots" content="noindex,nofollow">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- build:vendorcss -->
  <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
  <!-- endbuild -->

  <!-- build:css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="styles/hover.css">
  <link rel="stylesheet" href="styles/menu.css">
  <link rel="stylesheet" href="styles/thumbnail.css">
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body ng-controller="MainCtrl as ctrl" layout="row">

<md-sidenav class="md-sidenav-left md-whiteframe-z2" style="width: 400px;"
            md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" layout-fill>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1 ng-bind="appName">The Uploader</h1>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout-padding>
    <div ngf-drop="" ngf-select=""

         md-whiteframe="1"
         style="height: 300px"
         layout="column" layout-align="center center"

         ng-model="ctrl.files"
         ngf-multiple="true"
         ngf-keep="true"
         ngf-allow-dir="false"
         ngf-accept="'image/*'"
    >
      <div style="text-align: center;">
        ここにファイルを移動<br>
        もしくはクリックでファイル選択
      </div>
    </div>

    <md-card ng-repeat="file in ctrl.files"
             class="layer-parent" layout layout-fill>

      <div style="width: 100%; text-align: center;">
        <img ngf-src="file" style="width: 100%;height:100%" />
      </div>

      <div class="hover" layout="row" layout-align="space-around center"
           style="width:100%;height: 100%">
        <div ng-show="!file.isUploading" layout="row" layout-align="space-around center">

          <md-button class="md-fab md-warn md-hue-1" aria-label="Cancel"
                     ng-disabled="file.isUploading"
                     ng-click="ctrl.onCancel($index)">
            <md-icon>close</md-icon>
            <md-tooltip>
              Cancel
            </md-tooltip>
          </md-button>

          <md-button class="md-fab md-primary" aria-label="Upload"
                     ng-disabled="file.isUploading"
                     ng-click="ctrl.onUpload($index)">
            <md-icon>cloud_upload</md-icon>
            <md-tooltip>
              Upload
            </md-tooltip>
          </md-button>

        </div>

        <md-progress-circular
            md-mode="determinate"
            value="{{file.progress}}"
            ng-show="file.isUploading">
        </md-progress-circular>
      </div>
    </md-card>

  </md-content>
</md-sidenav>

<div layout="column" layout-fill role="main">

  <md-toolbar hide-gt-sm>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Open Menu" ng-click="ctrl.openMenu()">
        <md-icon>menu</md-icon>
      </md-button>
      <h1>
        {{ appName }}
      </h1>
    </div>
  </md-toolbar>

  <!--  コンテンツ -->
  <div masonry load-images="true" preserve-order="true">
    <div
        ng-show="ctrl.images.length > 0"
        ng-repeat="image in ctrl.images track by $index"
        class="masonry-brick thumb-layer-parent"
        style="margin: 3px;">

      <a ng-href="{{  image.url }}" target="_blank">
        <img ng-src="{{ image.url }}"
             alt="{{ image.fileName }}"
             class="md-whiteframe-z2"
             style="max-width: 300px"
             clip-copy="image.url" />
      </a>

      <div class="thumb-layer">

        <md-button class="md-fab md-mini">
          <md-icon>content_paste</md-icon>
        </md-button>

      </div>

    </div>
  </div>

  <!-- エラー画面にこだわるな -->
  <div ng-show="ctrl.isError" class="md-whiteframe-z2"
       style="height: 100%;"
       layout layout-align="center center">
    <strong class="md-warn">エラー:情報を取得できませんでした。</strong>
  </div>

</div>

<script src="app.build.js"></script>

</body>
</html>